<div id="r">
  <h3>R and RStudio</h3>
  
  <p>
    <a href="https://www.r-project.org">R</a> is a programming language
    that is especially powerful for data exploration, visualization, and
    statistical analysis. To interact with R, we use
    <a href="https://www.rstudio.com/">RStudio</a>.
  </p>
  <p>
    Please install R and RStudio before the course! If you are using your 
    private computer this should be no problem. You can find installation 
    instructions for your operating system below.
  </p>
  <p>
    If you are using a computer that is managed by your IT department, you might 
    need help from an administrator to install the software. On computers from UiO, 
    you may be able to install R and RStudio using an application called 
    *UiO Software Center*. In any case, it would be a good idea to check whether 
    you can install packages in R. See the instructions below.
  </p>
  <p>
    During the course you also need to create a directory, download text files and 
    move them to that directory. This should be possible on all but the most strictly 
    controlled computers.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#rstats-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rstats-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#rstats-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstats-windows">
        <p>
          Install R by downloading and running
          <a href="https://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
          from <a href="https://cran.r-project.org/index.html">CRAN</a>.
          Also, please install the
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
          Note that if you have separate user and admin accounts, you should run the
          installers as administrator (right-click on .exe file and select "Run as
          administrator" instead of double-clicking). Otherwise problems may occur later,
          for example when installing R packages.
        </p>
        <h4>Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/q0PjTAylwoU?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-macos">
        <p>
          Install R by downloading and running
          <a href="https://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
          from <a href="https://cran.r-project.org/index.html">CRAN</a>.
          Also, please install the
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
        </p>
        <h4>Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/5-ly3kyxwEg?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-linux">
        <p>
          You can download the binary files for your distribution
          from <a href="https://cran.r-project.org/index.html">CRAN</a>. Or
          you can use your package manager (e.g. for Debian/Ubuntu
          run <code>sudo apt-get install r-base</code> and for Fedora run
          <code>sudo dnf install R</code>).  Also, please install the
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
        </p>
      </article>
    </div>
  </div>
  
  <h3>Installing R packages</h3>
  <p>
  During the course you will need to install R packages. Packages contain useful programs written by other people.
  In the course we will use four packages, namely <code>dplyr</code>, <code>tidyr</code>, <code>lubridate</code>, and <code>ggplot2</code>.  
  However, we recommend installing the <code>tidyverse</code> meta-package instead, which contains these four plus many 
  other handy packages.
  </p>
  <p> 
  If you are using a private computer, installing packages should be no problem, 
  but if your computer is managed by your IT department it might be best to try this before the course to avoid 
  troubleshooting during the course. 
    To try to install packages, open RStudio and copy and paste the following command into the console window (look for the blinking cursor):
  </p>
  <p>
  <code>install.packages("tidyverse"); library(tidyverse); glimpse(mtcars)</code>
  </p>
  <p>
  The press the Enter (Windows) or Return (MacOS) key to execute the command. R now tries to download and install a bunch of packages on you machine.
  When the installation is finished, you should see a summary of a data set about cars. If there are problems, contact your IT department or us.
  </p>

</div>
